<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Up | Choices</title>

    <!-- Bootstrap stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Select2 stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <!-- Local stylesheets  -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

    <!-- Header -->
    <nav class="navbar">
        <a href="#" class="left">
            <img src="../static/images/logo.png" alt="">
        </a>
    </nav>

    <!-- Select Section -->
    <div class="container">
        <form action="/recommendations" method="POST" id="choice-form">
            <div class="select-heading">
                <h2>Select your top 3 Genres</h2>
            </div>
            <div class="row">
                <ul class="select-list">
                    {% for i in genre_names %}
                    <div class="col">
                        <li>
                            <label>
                            <input type="checkbox" class="genre-checkbox" name="genre-checkbox" value={{"-".join(i.split())}}>
                            <div class="select-box">
                                <p class="select-name" style="-webkit-line-clamp: 1;"> {{i}} </p>
                            </div>
                            </label>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="select-heading">
                <h2>Select your top 5 Cast</h2>
            </div>
            <div class="row">
                <ul class="select-list">
                    {% for i in cast_names %}
                    <div class="col">
                        <li>
                            <label>
                            <input type="checkbox" class="cast-checkbox" name="cast-checkbox" value={{"-".join(i.split())}}>
                            <div class="select-box">
                                <p class="select-name" style="-webkit-line-clamp: 2;">{{i}}</p>
                            </div>
                            </label>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            <button id="choice-btn" type="submit" class="select-submit">Done </button>
        </form>
    </div>

    


    <!-- JS/jQuery files  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Select 2 script -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Local JS files  -->
    <script src="../static/js/script.js"></script>

</body>
</html>
