<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Up | Sign up</title>

    <!-- Bootstrap stylesheet  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Select2 stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

    <!-- Local stylesheets  -->
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
<body>

    <div class="container-fluid p-0">
        <div class="index">
            <nav class="navbar">
                <a href="/" class="left">
                    <img src="../static/images/logo.png" alt="">
                </a>
                <div class="right">
                    <a href="/signin">Sign In</a>
                </div>
            </nav>
    
            <section class="content login-right">
                <div class="login-form">
                    <div class="login-div">               
                        <h2>Sign Up</h2>
                        <form id="up-form">
                            <div class="login-container">
                                <input placeholder="Email" class="form-control" type="email" name="user_email" required>
                                <input placeholder="Mobile number" class="form-control" type="tel" name="user_mobile" required>
                                <input placeholder="Create Password" class="form-control" type="password" name="user_password" required>
                            </div>
                            
                            <button id="up-btn" type="submit" class="btn btnlogin mt-4">Create Account</button>
                        </form>
                        <p class="text-center" id="error"></p>
                    </div>                        
                </div>
            </section>
        </div>
    </div>

    

    <!-- JS/jQuery files  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Select 2 script -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        function upSubmit(event) {
            event.preventDefault();
        }
        
//     var email = newForm.elements['user_email'].value;
//     var mobile = newForm.elements['user_mobile'].value;
//     var password = newForm.elements['user_password'].value;

//     var url = "http://127.0.0.1:5000/signup";
//     $.post(url, {
//         email: email,
//         mobile: mobile,
//         password: password,
//     },function(data, status) {
//         console.log(data, status);
//         if(data != "choices") {
//             var errorMsg = data;
//             document.getElementById("error").innerHTML = errorMsg;
//         }
//         else if(data == "choices"){
//             var url = "http://127.0.0.1:5000/choices";
//             window.location.href = url;
//         }
//     });
    </script>

    <!-- Local JS files  -->
    <script src="../static/js/script.js"></script>

</body>
</html>